/.venv
/artifacts
/PythonPackage/bin
/PythonPackage/build
/PythonPackage/dist
/PythonPackage/obj
.idea
__pycache__
/venv
AzureFunctions/bin/
AzureFunctions/obj/
AzureFunctions/Gcm.ConfigurationLoader.dll
AzureFunctions/local.settings.json
AzureFunctions/settings.base.json
